@charset "utf-8";

/* ブラウザのデフォルト調整 */
html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 1.6rem;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  text-align: center;
  background-image: url(../img/memo.jpg);
  background-size: cover;
  background-position: center;
}

header,
main,
h1,
h2,
div,
table,
.btn-area {
  margin: 0.5em 0em 0em 0em;
  padding: 0.1em;
}

th,
td {
  line-height: 1.2em;
  padding: 0.1em;
}

/*******************************************************/
/* 見出し                                              */
/*******************************************************/
h1 {
  color: rgb(165, 243, 243);
}

h2 {
  color: whitesmoke;
  font-weight: 1000;
}

/*******************************************************/
/* メイン                                              */
/*******************************************************/
.field01 {
  position: relative;
  height: 5em;
}

.field02 {
  position: relative;
  height: 10em;
}

/* ラベル */
label {
  position: absolute;
  left: 0.5em;
  color: whitesmoke;
  font-weight: 1000;
}

/* 疑似要素「必須」 */
label::after {
  margin-left: 1em;
  padding: 6px;
  border-radius: 4px;
  font-size: 0.6em;
  color: white;
  background-color: #C44;
  content: "必須";
}

/* テキストエリア */
textarea {
  position: absolute;
  top: 2em;
  left: 3em;
}

textarea::placeholder {
  color: #46aef7;
}

/* ボタン */
.btn-area {
  margin-left: 3em;
  text-align: left;
}

#save,
#select,
#del,
#allClear {
  padding: 0.5em;
  border-radius: 0.3em;
  color: whitesmoke;
  font-size: 1em;
  background: rgb(26, 212, 212);
  cursor: pointer;
}

table {
  table-layout: fixed;
  width: 80%;
  margin-left: 3em;
  border-collapse: collapse;
  opacity: 0.9;
}

table th {
  background: grey;
}

table th,
table td {
  padding: 0.5em 0;
  border: solid 0.1em #fff;
  color: white;
  text-align: center;
}

table tr {
  background: #46aef7;
}

.width10 {
  width: 10%;
}

.width30 {
  width: 30%;
}

.width60 {
  width: 60%;
}

/*******************************************************/
/* backボタン                                         */
/*******************************************************/
.back {
  text-align: left;
}

#btn99 {
  padding: 0.5em;
  border-radius: 0.3em;
  color: whitesmoke;
  font-size: 1.5em;
  background: rgb(26, 212, 212);
  cursor: pointer;
}

/* SweetAlert2 */
.swal2-title,
.swal2-content {
  color: grey !important;
  font-weight: bold !important;
}